/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  Font-Family: "Raleway", Sans-Serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  Font-Family: "Open Sans", Sans-Serif;
  Font-Size: 15px;
}

.active {
  color: #ffdf6c;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  background-color: black;
  color: #ffdf6c;
}

header,
section {
  min-height: 100vh;
}

#header {
  background-image: url("../imgs/bg-hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding: 10px 100px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
}
#header nav div img {
  height: 50px;
  width: auto;
}
#header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header nav ul li a {
  padding: 15px 25px;
}
#header nav #resume {
  align-self: center;
  background-color: #202020;
  color: #ffdf6c;
  padding: 15px 25px;
}
#header nav #resume:hover {
  color: #202020;
  background-color: #ffdf6c;
}
#header #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-left: 100px;
}
#header #hero h2 {
  display: flex;
  flex-direction: column;
  font-size: 44px;
  line-height: 1.3;
  color: #707070;
  margin-bottom: 5px;
}
#header #hero h2 span {
  color: #202020;
  font-weight: 600;
}
#header #hero p {
  line-height: 1.6;
  font-weight: bold;
}
#header #hero a {
  margin-right: auto;
  margin-top: 50px;
  border: solid 2px transparent;
  color: #ffffff;
  background-color: #202020;
  padding: 15px 25px;
  font-weight: bold;
  box-shadow: 5px 5px #ffdf6c;
}
#header #hero a:hover {
  box-shadow: 0px 0px #ffdf6c;
  border: solid 2px #ffdf6c;
}

main section {
  padding: 75px 100px;
  border-bottom: solid 1px #202020;
}

#footer {
  height: 50vh;
  background-color: #3f3f3f;
}/*# sourceMappingURL=main.css.map */